# Environment variables
.env
*.env

# Credentials folder contents
credentials/*
!credentials/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

# Virtual Environment
myenv/
venv/
env/

aws/reset_database.py
